Docker/Node-Red/flows_updated_matte.json
[
    {
        "id": "dfa5f5222d797092",
        "type": "tab",
        "label": "IoT Smart Greenhouse",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ecce07d93a636493",
        "type": "inject",
        "z": "dfa5f5222d797092",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 440,
        "wires": [
            [
                "16deea545600df58"
            ]
        ]
    },
    {
        "id": "16deea545600df58",
        "type": "ui_template",
        "z": "dfa5f5222d797092",
        "group": "0e274ee81497bf82",
        "name": "",
        "order": 14,
        "width": 0,
        "height": 0,
        "format": "<div>\n    \n    <h1>Welcome to the<br> HOME PAGE!</h1>\n    <br>\n    <p>Insert an user ID and greenhouse ID to receive information and statistics<br> about them</p>\n    \n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 360,
        "y": 440,
        "wires": [
            [
                "6b48906497f7c05d"
            ]
        ]
    },
    {
        "id": "6b48906497f7c05d",
        "type": "ui_form",
        "z": "dfa5f5222d797092",
        "name": "",
        "label": "",
        "group": "0e274ee81497bf82",
        "order": 17,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "User ID",
                "value": "id",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Greenhouse ID",
                "value": "greenHouseID",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "id": "",
            "greenHouseID": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 530,
        "y": 440,
        "wires": [
            [
                "74e0dc4bce1d1446",
                "314cf227ce95c194",
                "c172a47fe858f676",
                "197990040c1bcea9",
                "8608905770537a7a"
            ]
        ]
    },
    {
        "id": "74e0dc4bce1d1446",
        "type": "python3-function",
        "z": "dfa5f5222d797092",
        "name": "",
        "func": "query = \"?id=\"+str(msg['payload']['id'])+\"&greenHouseID=\"+ str(msg['payload']['greenHouseID'])\n\nmsg = {'query': query}\n\nreturn msg",
        "outputs": 1,
        "x": 730,
        "y": 380,
        "wires": [
            [
                "fb5cb5e1290bcdf1",
                "96ce07f6973c09d2"
            ]
        ]
    },
    {
        "id": "fb5cb5e1290bcdf1",
        "type": "http request",
        "z": "dfa5f5222d797092",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://resource_catalog:8080/device_connectors{{{query}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 970,
        "y": 560,
        "wires": [
            [
                "2244a2278cf16a30"
            ]
        ]
    },
    {
        "id": "466352cfe6944085",
        "type": "ui_template",
        "z": "dfa5f5222d797092",
        "group": "54a9d42f1566907a",
        "name": "",
        "order": 8,
        "width": 0,
        "height": 0,
        "format": "<h3>Device associated: </h3>\n<br>\n<p>SENSORS: <span ng-bind=\"msg['payload'][0]['devices']['sensors']\"></span></p>\n<p>ACTUATORS: <span ng-bind=\"msg['payload'][0]['devices']['actuators']\"></span></p>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1320,
        "y": 560,
        "wires": [
            [
                "6c593910232cacfb"
            ]
        ]
    },
    {
        "id": "6c593910232cacfb",
        "type": "debug",
        "z": "dfa5f5222d797092",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1510,
        "y": 560,
        "wires": []
    },
    {
        "id": "314cf227ce95c194",
        "type": "python3-function",
        "z": "dfa5f5222d797092",
        "name": "",
        "func": "query = \"?id=\"+str(msg['payload']['id'])\n\nmsg = {'query': query}\n\nreturn msg",
        "outputs": 1,
        "x": 730,
        "y": 120,
        "wires": [
            [
                "ed78844afc9edea3"
            ]
        ]
    },
    {
        "id": "ed78844afc9edea3",
        "type": "http request",
        "z": "dfa5f5222d797092",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://resource_catalog:8080/user{{{query}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 950,
        "y": 120,
        "wires": [
            [
                "cbc8fee51389dd33"
            ]
        ]
    },
    {
        "id": "6983386f02f85a7b",
        "type": "ui_template",
        "z": "dfa5f5222d797092",
        "group": "54a9d42f1566907a",
        "name": "",
        "order": 5,
        "width": 0,
        "height": 0,
        "format": "<h3>The user attributes are: </h3>\n<br>\n<p>USERNAME: <span ng-bind=\"msg['payload']['userName']\"></span></p>\n<p>NAME: <span ng-bind=\"msg['payload']['name']\"></span></p>\n<p>SURNAME: <span ng-bind=\"msg['payload']['surname']\"></span></p>\n<p>EMAIL: <span ng-bind=\"msg['payload']['email_addresses']\"></span></p>\n\n\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1580,
        "y": 120,
        "wires": [
            [
                "d1d20d7261fa1d31"
            ]
        ]
    },
    {
        "id": "d1d20d7261fa1d31",
        "type": "debug",
        "z": "dfa5f5222d797092",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1770,
        "y": 120,
        "wires": []
    },
    {
        "id": "3b138dd68bffa83b",
        "type": "json",
        "z": "dfa5f5222d797092",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1390,
        "y": 120,
        "wires": [
            [
                "6983386f02f85a7b",
                "a9b4d06e56271b23"
            ]
        ]
    },
    {
        "id": "2244a2278cf16a30",
        "type": "json",
        "z": "dfa5f5222d797092",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1150,
        "y": 560,
        "wires": [
            [
                "466352cfe6944085"
            ]
        ]
    },
    {
        "id": "96ce07f6973c09d2",
        "type": "http request",
        "z": "dfa5f5222d797092",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://resource_catalog:8080/greenhouse{{{query}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 970,
        "y": 380,
        "wires": [
            [
                "496999e9d36d4e9d"
            ]
        ]
    },
    {
        "id": "112b8f49e109c0cd",
        "type": "debug",
        "z": "dfa5f5222d797092",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1770,
        "y": 380,
        "wires": []
    },
    {
        "id": "44a799ba54fc21aa",
        "type": "json",
        "z": "dfa5f5222d797092",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1390,
        "y": 380,
        "wires": [
            [
                "690cc002ee0499aa",
                "56c3f5bc2bc5cecb"
            ]
        ]
    },
    {
        "id": "47891cc460d6088e",
        "type": "mqtt in",
        "z": "dfa5f5222d797092",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "json",
        "broker": "a6d151784d60722d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 990,
        "y": 920,
        "wires": [
            [
                "dcdf9bda79494cce"
            ]
        ]
    },
    {
        "id": "197990040c1bcea9",
        "type": "python3-function",
        "z": "dfa5f5222d797092",
        "name": "",
        "func": "msg['action'] = \"subscribe\"\n# da aggiungere alla fine il sensorType\n#msg['topic']= str(msg['payload']['id'])+\"/\"+str(msg['payload']['greenHouseID'])+\"/environment/temperature\"\n\nmsg['topic'] = \"IoT_project/group29/greenhouse1/temperature\"\nreturn msg",
        "outputs": 1,
        "x": 730,
        "y": 920,
        "wires": [
            [
                "47891cc460d6088e"
            ]
        ]
    },
    {
        "id": "e34ee081ad0b1faf",
        "type": "ui_gauge",
        "z": "dfa5f5222d797092",
        "name": "",
        "group": "bb7721423ea2a939",
        "order": 18,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Temperature",
        "label": "°C",
        "format": "{{msg.payload}}",
        "min": "15",
        "max": "35",
        "colors": [
            "#005cb3",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1350,
        "y": 920,
        "wires": []
    },
    {
        "id": "40434672e9959c1e",
        "type": "debug",
        "z": "dfa5f5222d797092",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1350,
        "y": 980,
        "wires": []
    },
    {
        "id": "dcdf9bda79494cce",
        "type": "json",
        "z": "dfa5f5222d797092",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1150,
        "y": 920,
        "wires": [
            [
                "40434672e9959c1e",
                "e34ee081ad0b1faf"
            ]
        ]
    },
    {
        "id": "cc978f42f967bbd9",
        "type": "mqtt in",
        "z": "dfa5f5222d797092",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "json",
        "broker": "a6d151784d60722d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 990,
        "y": 740,
        "wires": [
            [
                "a22473f0c5804e5d"
            ]
        ]
    },
    {
        "id": "c172a47fe858f676",
        "type": "python3-function",
        "z": "dfa5f5222d797092",
        "name": "",
        "func": "msg['action'] = \"subscribe\"\n# da aggiungere alla fine il sensorType\n#msg['topic']= str(msg['payload']['id'])+\"/\"+str(msg['payload']['greenHouseID'])+\"/environment/humidity\"\n\nmsg['topic'] = \"IoT_project/group29/greenhouse1/humidity\"\nreturn msg",
        "outputs": 1,
        "x": 730,
        "y": 740,
        "wires": [
            [
                "cc978f42f967bbd9"
            ]
        ]
    },
    {
        "id": "148f517f821a8373",
        "type": "ui_gauge",
        "z": "dfa5f5222d797092",
        "name": "",
        "group": "bb7721423ea2a939",
        "order": 18,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Humidity",
        "label": "%",
        "format": "{{msg.payload}}",
        "min": "30",
        "max": "80",
        "colors": [
            "#0044b3",
            "#26e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1340,
        "y": 740,
        "wires": []
    },
    {
        "id": "c7c687f2ce435ace",
        "type": "debug",
        "z": "dfa5f5222d797092",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1350,
        "y": 800,
        "wires": []
    },
    {
        "id": "a22473f0c5804e5d",
        "type": "json",
        "z": "dfa5f5222d797092",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1150,
        "y": 740,
        "wires": [
            [
                "c7c687f2ce435ace",
                "148f517f821a8373"
            ]
        ]
    },
    {
        "id": "986f6910a8576ea3",
        "type": "inject",
        "z": "dfa5f5222d797092",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 1580,
        "wires": [
            [
                "8b9f5b0f2df54dc0",
                "bb9a30baa05d4d31",
                "333c2a4f7a6537f2"
            ]
        ]
    },
    {
        "id": "60a897d576a4c0ed",
        "type": "ui_form",
        "z": "dfa5f5222d797092",
        "name": "",
        "label": "",
        "group": "1e1cb426.2b813c",
        "order": 7,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "User ID",
                "value": "id",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Greenhouse ID",
                "value": "greenHouseID",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Greenhouse name",
                "value": "greenHouseName",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "City",
                "value": "city",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "id": "",
            "greenHouseID": "",
            "greenHouseName": "",
            "city": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": false,
        "className": "",
        "x": 730,
        "y": 1860,
        "wires": [
            [
                "9b0de6f4d03543a0"
            ]
        ]
    },
    {
        "id": "691cb6c172855003",
        "type": "http request",
        "z": "dfa5f5222d797092",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://resource_catalog:8080/greenhouse{{{query}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1190,
        "y": 1860,
        "wires": [
            [
                "38fea345ee9d6689"
            ]
        ]
    },
    {
        "id": "d5087b8e455aa512",
        "type": "http request",
        "z": "dfa5f5222d797092",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://resource_catalog:8080/user",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1230,
        "y": 1300,
        "wires": [
            [
                "525054fe7408026a"
            ]
        ]
    },
    {
        "id": "8b9f5b0f2df54dc0",
        "type": "ui_form",
        "z": "dfa5f5222d797092",
        "name": "",
        "label": "",
        "group": "703824db.9d74a4",
        "order": 15,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "User ID",
                "value": "id",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Username",
                "value": "userName",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "password",
                "type": "password",
                "required": true,
                "rows": null
            },
            {
                "label": "Name",
                "value": "name",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Surname",
                "value": "surname",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Email address",
                "value": "email_addresses",
                "type": "email",
                "required": true,
                "rows": null
            },
            {
                "label": "Country",
                "value": "country",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "id": "",
            "userName": "",
            "password": "",
            "name": "",
            "surname": "",
            "email_addresses": "",
            "country": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": false,
        "className": "",
        "x": 770,
        "y": 1300,
        "wires": [
            [
                "b9d47b0ebc1d973d"
            ]
        ]
    },
    {
        "id": "e8640d19bf8f25e6",
        "type": "comment",
        "z": "dfa5f5222d797092",
        "name": "",
        "info": "This flow is to create a new user. We use POST",
        "x": 780,
        "y": 1340,
        "wires": []
    },
    {
        "id": "6010b1b38f44f28d",
        "type": "python3-function",
        "z": "dfa5f5222d797092",
        "name": "",
        "func": "query =  \"?id=\"+ str(msg['payload']['id'])\n\ndata = {\n    'userName' : msg['payload']['userName'],\n    'password' : msg['payload']['password'],\n    'id' : msg['payload']['id'],\n    'name' : msg['payload']['name'],\n    'surname' : msg['payload']['surname'],\n    'email_addresses' : msg['payload']['email_addresses'],\n    'country' : msg['payload']['country']\n}\n\nmsg = {'payload' : data, 'query' : query}\nreturn msg",
        "outputs": 1,
        "x": 1590,
        "y": 1540,
        "wires": [
            [
                "4bae7879b06d02c7"
            ]
        ]
    },
    {
        "id": "4bae7879b06d02c7",
        "type": "http request",
        "z": "dfa5f5222d797092",
        "name": "",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://resource_catalog:8080/user{{{query}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1890,
        "y": 1540,
        "wires": [
            [
                "4c77b1c5c88a5d75"
            ]
        ]
    },
    {
        "id": "7beae403d5fde370",
        "type": "comment",
        "z": "dfa5f5222d797092",
        "name": "",
        "info": "This flow is to modify an already existing user. We use PUT",
        "x": 1380,
        "y": 1580,
        "wires": []
    },
    {
        "id": "12ad55b148968a48",
        "type": "ui_form",
        "z": "dfa5f5222d797092",
        "name": "",
        "label": "",
        "group": "1ad3bf1a8d6e4b4e",
        "order": 7,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Username",
                "value": "userName",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Name",
                "value": "name",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Surname",
                "value": "surname",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Email address",
                "value": "email_addresses",
                "type": "email",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "userName": "",
            "name": "",
            "surname": "",
            "email_addresses": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": false,
        "className": "",
        "x": 1370,
        "y": 1540,
        "wires": [
            [
                "6010b1b38f44f28d"
            ]
        ]
    },
    {
        "id": "9b177e5d43718e3a",
        "type": "comment",
        "z": "dfa5f5222d797092",
        "name": "",
        "info": "This flow is to create a new greenhouse to an existing user. Use POST",
        "x": 740,
        "y": 1900,
        "wires": []
    },
    {
        "id": "9b0de6f4d03543a0",
        "type": "python3-function",
        "z": "dfa5f5222d797092",
        "name": "",
        "func": "\n\nquery =  \"?id=\"+ str(msg['payload']['id']) \n\ndata = {\n    'greenHouseName' :  msg['payload']['greenHouseName'],\n    'greenHouseID' : msg['payload']['greenHouseID'],\n    'city' : msg['payload']['city'],\n}\n\nmsg = {'payload' : data, 'query': query}\n\nreturn msg\n\n\n",
        "outputs": 1,
        "x": 950,
        "y": 1860,
        "wires": [
            [
                "691cb6c172855003"
            ]
        ]
    },
    {
        "id": "f929205cee509714",
        "type": "ui_form",
        "z": "dfa5f5222d797092",
        "name": "",
        "label": "",
        "group": "dcebba6522a7ec86",
        "order": 6,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "User ID",
                "value": "id",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Greenhouse ID",
                "value": "greenHouseID",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Greenhouse name",
                "value": "greenHouseName",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "id": "",
            "greenHouseID": "",
            "greenHouseName": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": false,
        "className": "",
        "x": 970,
        "y": 2240,
        "wires": [
            [
                "a80c9e4277aac80d"
            ]
        ]
    },
    {
        "id": "5a8ff3bbc6c4067c",
        "type": "http request",
        "z": "dfa5f5222d797092",
        "name": "",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://resource_catalog:8080/greenhouse{{{query}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1450,
        "y": 2240,
        "wires": [
            [
                "930b5eeaa07f5146"
            ]
        ]
    },
    {
        "id": "5aeb9533549b5aa3",
        "type": "comment",
        "z": "dfa5f5222d797092",
        "name": "",
        "info": "This flow is to modify an already existing greenhouse, selecting user and greenhouse id. Use PUT",
        "x": 760,
        "y": 2240,
        "wires": []
    },
    {
        "id": "a80c9e4277aac80d",
        "type": "python3-function",
        "z": "dfa5f5222d797092",
        "name": "",
        "func": "\nquery =  \"?id=\"+ str(msg['payload']['id']) + \"&greenHouseID=\"+ str(msg['payload']['greenHouseID'])\n\ndata = {\n    \n    'greenHouseID': msg['payload']['greenHouseID'],\n    'greenHouseName': msg['payload']['greenHouseName']\n   \n}\n\nmsg = {'payload' : data, 'query' : query}\n\nreturn msg",
        "outputs": 1,
        "x": 1210,
        "y": 2240,
        "wires": [
            [
                "5a8ff3bbc6c4067c"
            ]
        ]
    },
    {
        "id": "4c77b1c5c88a5d75",
        "type": "debug",
        "z": "dfa5f5222d797092",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2130,
        "y": 1540,
        "wires": []
    },
    {
        "id": "bb9a30baa05d4d31",
        "type": "ui_form",
        "z": "dfa5f5222d797092",
        "name": "",
        "label": "",
        "group": "edded25c257e2620",
        "order": 2,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "User ID",
                "value": "id",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "id": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": false,
        "className": "",
        "x": 710,
        "y": 1700,
        "wires": [
            [
                "1daf945b099165f2"
            ]
        ]
    },
    {
        "id": "1daf945b099165f2",
        "type": "python3-function",
        "z": "dfa5f5222d797092",
        "name": "",
        "func": "query =  \"?id=\"+ str(msg['payload']['id'])\n\nmsg = {'query' : query}\n\nreturn msg",
        "outputs": 1,
        "x": 930,
        "y": 1700,
        "wires": [
            [
                "73463e1e587d2b4c"
            ]
        ]
    },
    {
        "id": "73463e1e587d2b4c",
        "type": "http request",
        "z": "dfa5f5222d797092",
        "name": "",
        "method": "DELETE",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://resource_catalog:8080/user{{{query}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1190,
        "y": 1700,
        "wires": [
            [
                "39b467bc9846b265"
            ]
        ]
    },
    {
        "id": "70804627e9613264",
        "type": "ui_form",
        "z": "dfa5f5222d797092",
        "name": "",
        "label": "",
        "group": "3ca67b85ec7cd5f7",
        "order": 5,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "User ID",
                "value": "id",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Greenhouse ID",
                "value": "greenHouseID",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "id": "",
            "greenHouseID": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": false,
        "className": "",
        "x": 730,
        "y": 2360,
        "wires": [
            [
                "89937949971949cc"
            ]
        ]
    },
    {
        "id": "071f56fd8b10c345",
        "type": "http request",
        "z": "dfa5f5222d797092",
        "name": "",
        "method": "DELETE",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://resource_catalog:8080/greenhouse{{{query}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1190,
        "y": 2360,
        "wires": [
            [
                "50517df343ea60f0"
            ]
        ]
    },
    {
        "id": "7093327bd3643598",
        "type": "comment",
        "z": "dfa5f5222d797092",
        "name": "",
        "info": "This flow is to modify an already existing greenhouse, selecting user and greenhouse id. Use PUT",
        "x": 740,
        "y": 2400,
        "wires": []
    },
    {
        "id": "89937949971949cc",
        "type": "python3-function",
        "z": "dfa5f5222d797092",
        "name": "",
        "func": "\nquery =  \"?id=\"+ str(msg['payload']['id']) + \"&greenHouseID=\"+ str(msg['payload']['greenHouseID'])\n\nmsg = {'query' : query}\n\nreturn msg",
        "outputs": 1,
        "x": 950,
        "y": 2360,
        "wires": [
            [
                "071f56fd8b10c345"
            ]
        ]
    },
    {
        "id": "b9d47b0ebc1d973d",
        "type": "python3-function",
        "z": "dfa5f5222d797092",
        "name": "",
        "func": "\n#query =  \"?id=\"+ str(msg['payload']['id'])\n\ndata = {\n    'userName' : msg['payload']['userName'],\n    'password' : msg['payload']['password'],\n    'id' : msg['payload']['id'],\n    'name' : msg['payload']['name'],\n    'surname' : msg['payload']['surname'],\n    'email_addresses' : msg['payload']['email_addresses'],\n    'country' : msg['payload']['country']\n}\n\nmsg = {'payload' : data}\nreturn msg",
        "outputs": 1,
        "x": 990,
        "y": 1300,
        "wires": [
            [
                "d5087b8e455aa512"
            ]
        ]
    },
    {
        "id": "8c31694ffc898504",
        "type": "http request",
        "z": "dfa5f5222d797092",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://resource_catalog:8080/user{{{query}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1230,
        "y": 1420,
        "wires": [
            [
                "19938b85b3821efe"
            ]
        ]
    },
    {
        "id": "333c2a4f7a6537f2",
        "type": "ui_form",
        "z": "dfa5f5222d797092",
        "name": "",
        "label": "",
        "group": "1ad3bf1a8d6e4b4e",
        "order": 4,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "User ID",
                "value": "id",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "id": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 770,
        "y": 1420,
        "wires": [
            [
                "79768fcc7afafb3f"
            ]
        ]
    },
    {
        "id": "79768fcc7afafb3f",
        "type": "python3-function",
        "z": "dfa5f5222d797092",
        "name": "",
        "func": "query =  \"?id=\"+ str(msg['payload']['id'])\n\nmsg = {'query' : query}\n\nreturn msg",
        "outputs": 1,
        "x": 990,
        "y": 1420,
        "wires": [
            [
                "8c31694ffc898504"
            ]
        ]
    },
    {
        "id": "17e8d9bb356dd041",
        "type": "python3-function",
        "z": "dfa5f5222d797092",
        "name": "",
        "func": "data = {\n    'userName' : msg['payload']['userName'],\n    'password' : msg['payload']['password'],\n    'id' : msg['payload']['id'],\n    'name' : msg['payload']['name'],\n    'surname' : msg['payload']['surname'],\n    'email_addresses' : msg['payload']['email_addresses'],\n    'country' : msg['payload']['country']\n}\n\nmsg = {'payload' : data}\nreturn msg",
        "outputs": 1,
        "x": 1070,
        "y": 1540,
        "wires": [
            [
                "12ad55b148968a48"
            ]
        ]
    },
    {
        "id": "f64d183a041e372c",
        "type": "json",
        "z": "dfa5f5222d797092",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1650,
        "y": 1420,
        "wires": [
            [
                "d4923e9bf658bada",
                "17e8d9bb356dd041"
            ]
        ]
    },
    {
        "id": "b8d19bec60564130",
        "type": "debug",
        "z": "dfa5f5222d797092",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1950,
        "y": 1860,
        "wires": []
    },
    {
        "id": "935067c39fe298f0",
        "type": "http request",
        "z": "dfa5f5222d797092",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://resource_catalog:8080/greenhouse{{{query}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1190,
        "y": 2060,
        "wires": [
            [
                "858780624f4b25d1"
            ]
        ]
    },
    {
        "id": "8da82727692fc3b1",
        "type": "ui_form",
        "z": "dfa5f5222d797092",
        "name": "",
        "label": "",
        "group": "dcebba6522a7ec86",
        "order": 4,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "User ID",
                "value": "id",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Greenhouse ID",
                "value": "greenHouseID",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "id": "",
            "greenHouseID": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 730,
        "y": 2060,
        "wires": [
            [
                "f636acff5c07b226",
                "f929205cee509714"
            ]
        ]
    },
    {
        "id": "f636acff5c07b226",
        "type": "python3-function",
        "z": "dfa5f5222d797092",
        "name": "",
        "func": "\nquery = \"?id=\"+str(msg['payload']['id'])+\"&greenHouseID=\"+ str(msg['payload']['greenHouseID'])\n\nmsg = {'query' : query}\n\nreturn msg",
        "outputs": 1,
        "x": 990,
        "y": 2060,
        "wires": [
            [
                "935067c39fe298f0"
            ]
        ]
    },
    {
        "id": "35f6ebdf96380029",
        "type": "python3-function",
        "z": "dfa5f5222d797092",
        "name": "",
        "func": "\ndata = {\n    \"greenHouseName\": msg['payload']['greenHouseName']\n    }\n\nmsg = {'payload' : data}\nreturn msg",
        "outputs": 1,
        "x": 1010,
        "y": 2140,
        "wires": [
            [
                "f929205cee509714"
            ]
        ]
    },
    {
        "id": "01ff11bb1e09c1b9",
        "type": "json",
        "z": "dfa5f5222d797092",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1590,
        "y": 2060,
        "wires": [
            [
                "dcf7fbe89f9be32d",
                "35f6ebdf96380029"
            ]
        ]
    },
    {
        "id": "930b5eeaa07f5146",
        "type": "debug",
        "z": "dfa5f5222d797092",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1710,
        "y": 2240,
        "wires": []
    },
    {
        "id": "c08a03cb661d70b3",
        "type": "inject",
        "z": "dfa5f5222d797092",
        "name": "Request",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 560,
        "y": 3060,
        "wires": [
            [
                "3b7d5c2263e18046"
            ]
        ]
    },
    {
        "id": "76a4682a5b905a17",
        "type": "debug",
        "z": "dfa5f5222d797092",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3150,
        "y": 3720,
        "wires": []
    },
    {
        "id": "3b7d5c2263e18046",
        "type": "ui_form",
        "z": "dfa5f5222d797092",
        "name": "",
        "label": "",
        "group": "043782d90857d581",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "User ID",
                "value": "id",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Greenhouse ID",
                "value": "greenHouseID",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "id": "",
            "greenHouseID": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "topicType": "str",
        "splitLayout": false,
        "className": "",
        "x": 770,
        "y": 3060,
        "wires": [
            [
                "83a06b5b4c7e1753",
                "d31ab3b43e3cab38",
                "8d6183a5d7443afa",
                "266b11699d470f70",
                "8a1f69c50937b435",
                "6ee89501bce28445",
                "2c2447bf72d9531e",
                "a861ab127e861486",
                "719db4ac8743666c",
                "7dcd4cacf1185222",
                "d7ed7a5b1dd51b21",
                "6721c23a5f9fd596",
                "bcc95baad250f80d"
            ]
        ]
    },
    {
        "id": "a3ed64a0816d64d3",
        "type": "ui_form",
        "z": "dfa5f5222d797092",
        "name": "",
        "label": "",
        "group": "64d6c8b6.5961f8",
        "order": 6,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "User ID",
                "value": "id",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Greenhouse ID",
                "value": "greenHouseID",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Time",
                "value": "time",
                "type": "time",
                "required": true,
                "rows": null
            },
            {
                "label": "Water quantity (L)",
                "value": "wq",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Active",
                "value": "active",
                "type": "switch",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "id": "",
            "greenHouseID": "",
            "time": "",
            "wq": "",
            "active": false
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "topicType": "str",
        "splitLayout": false,
        "className": "",
        "x": 2530,
        "y": 3720,
        "wires": [
            [
                "198a22852f7b590b"
            ]
        ]
    },
    {
        "id": "8f2e5bb8d04fc968",
        "type": "debug",
        "z": "dfa5f5222d797092",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3150,
        "y": 3840,
        "wires": []
    },
    {
        "id": "5aa0128a372128d4",
        "type": "ui_form",
        "z": "dfa5f5222d797092",
        "name": "",
        "label": "",
        "group": "65fe65488352d21f",
        "order": 6,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "User ID",
                "value": "id",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Greenhouse ID",
                "value": "greenHouseID",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Temperature (°C)",
                "value": "temp",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Humidity (%)",
                "value": "hum",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Active",
                "value": "active",
                "type": "switch",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "id": "",
            "greenHouseID": "",
            "temp": "",
            "hum": "",
            "active": false
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "topicType": "str",
        "splitLayout": false,
        "className": "",
        "x": 2530,
        "y": 3840,
        "wires": [
            [
                "5d98faa4392f446e"
            ]
        ]
    },
    {
        "id": "9e8549d3d3b0169b",
        "type": "debug",
        "z": "dfa5f5222d797092",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3150,
        "y": 3960,
        "wires": []
    },
    {
        "id": "9f420dd0635d5620",
        "type": "ui_form",
        "z": "dfa5f5222d797092",
        "name": "",
        "label": "",
        "group": "ce41a2620db9ea6d",
        "order": 6,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "User ID",
                "value": "id",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Greenhouse ID",
                "value": "greenHouseID",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Temperature (°C)",
                "value": "temp",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Humidity (%)",
                "value": "hum",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Active",
                "value": "active",
                "type": "switch",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "id": "",
            "greenHouseID": "",
            "temp": "",
            "hum": "",
            "active": false
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "topicType": "str",
        "splitLayout": false,
        "className": "",
        "x": 2530,
        "y": 3960,
        "wires": [
            [
                "1e9ac1f67d3a5e5f"
            ]
        ]
    },
    {
        "id": "206ad70975cb7959",
        "type": "http request",
        "z": "dfa5f5222d797092",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://resource_catalog:8080/strategy{{{query}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 2950,
        "y": 3720,
        "wires": [
            [
                "76a4682a5b905a17"
            ]
        ]
    },
    {
        "id": "5fc0ed69a312f033",
        "type": "http request",
        "z": "dfa5f5222d797092",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://resource_catalog:8080/strategy{{{query}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 2950,
        "y": 3840,
        "wires": [
            [
                "8f2e5bb8d04fc968"
            ]
        ]
    },
    {
        "id": "90d8b8b744fa52f1",
        "type": "http request",
        "z": "dfa5f5222d797092",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://resource_catalog:8080/strategy{{{query}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 2950,
        "y": 3960,
        "wires": [
            [
                "9e8549d3d3b0169b"
            ]
        ]
    },
    {
        "id": "198a22852f7b590b",
        "type": "python3-function",
        "z": "dfa5f5222d797092",
        "name": "",
        "func": "import datetime\nquery = \"?id=\"+str(msg['payload']['id'])+\"&greenHouseID=\"+ str(msg['payload']['greenHouseID'])+ \"&strategyType=irrigation\"\n\nif msg['payload']['active']:\n    active = True\nelse:\n    active = False\n\ninput_date = datetime.datetime.strptime(msg['payload']['time'], '%Y-%m-%dT%H:%M:%S.%fZ')\nnew_date = input_date.strftime('%H:%M:%S')\n\n\n\ndata = {\n    'time': new_date,\n    'water_quantity': msg['payload']['wq'],\n    'active': active\n}\n\n\nmsg = {'payload':data, 'query':query}\n\n\nreturn msg",
        "outputs": 1,
        "x": 2730,
        "y": 3720,
        "wires": [
            [
                "206ad70975cb7959"
            ]
        ]
    },
    {
        "id": "5d98faa4392f446e",
        "type": "python3-function",
        "z": "dfa5f5222d797092",
        "name": "",
        "func": "query = \"?id=\"+str(msg['payload']['id'])+\"&greenHouseID=\"+ str(msg['payload']['greenHouseID'])+ \"&strategyType=environment\"\n\nif msg['payload']['active']:\n    active = True\nelse:\n    active = False\n\ndata = {\n    'temperature': float(msg['payload']['temp']),\n    'humidity': float(msg['payload']['hum']),\n    'active': active\n        \n}\n\nmsg = {'payload': data, 'query': query}\n\nreturn msg",
        "outputs": 1,
        "x": 2730,
        "y": 3840,
        "wires": [
            [
                "5fc0ed69a312f033"
            ]
        ]
    },
    {
        "id": "1e9ac1f67d3a5e5f",
        "type": "python3-function",
        "z": "dfa5f5222d797092",
        "name": "",
        "func": "query = \"?id=\"+str(msg['payload']['id'])+\"&greenHouseID=\"+ str(msg['payload']['greenHouseID'])+ \"&strategyType=weather\"\n\nif msg['payload']['active']:\n    active = True\nelse:\n    active = False\n\ndata = {\n    'temperature': float(msg['payload']['temp']),\n    'humidity': float(msg['payload']['hum']),\n    'active': active\n        \n}\n\nmsg = {'payload': data, 'query': query}\n\nreturn msg",
        "outputs": 1,
        "x": 2730,
        "y": 3960,
        "wires": [
            [
                "90d8b8b744fa52f1"
            ]
        ]
    },
    {
        "id": "d4c6d1624e556115",
        "type": "comment",
        "z": "dfa5f5222d797092",
        "name": "",
        "info": "There are 3 types of strategies:\n - irrigation\n - environment\n - weather\n\n",
        "x": 740,
        "y": 3120,
        "wires": []
    },
    {
        "id": "83a06b5b4c7e1753",
        "type": "python3-function",
        "z": "dfa5f5222d797092",
        "name": "",
        "func": "query = \"?id=\"+str(msg['payload']['id'])+\"&greenHouseID=\"+ str(msg['payload']['greenHouseID'])+ \"&strategyType=irrigation\"\n\nmsg = {'query': query}\n\nreturn msg",
        "outputs": 1,
        "x": 1650,
        "y": 2960,
        "wires": [
            [
                "e7b0dcc4ddce18ad"
            ]
        ]
    },
    {
        "id": "e7b0dcc4ddce18ad",
        "type": "http request",
        "z": "dfa5f5222d797092",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://resource_catalog:8080/strategy{{{query}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1870,
        "y": 2960,
        "wires": [
            [
                "b6db71baf84ac530"
            ]
        ]
    },
    {
        "id": "567f5d34309b4af8",
        "type": "debug",
        "z": "dfa5f5222d797092",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3030,
        "y": 3060,
        "wires": []
    },
    {
        "id": "3a2aa384b05c8140",
        "type": "json",
        "z": "dfa5f5222d797092",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 2550,
        "y": 2960,
        "wires": [
            [
                "5b0da82180378895",
                "14686b5344bd6d51",
                "a2c12a366ae1b0ef"
            ]
        ]
    },
    {
        "id": "d7ed7a5b1dd51b21",
        "type": "python3-function",
        "z": "dfa5f5222d797092",
        "name": "",
        "func": "query = \"?id=\"+str(msg['payload']['id'])+\"&greenHouseID=\"+ str(msg['payload']['greenHouseID'])+ \"&strategyType=environment\"\n\nmsg = {'query': query}\n\nreturn msg",
        "outputs": 1,
        "x": 1690,
        "y": 2640,
        "wires": [
            [
                "b366f8715824acf3"
            ]
        ]
    },
    {
        "id": "b366f8715824acf3",
        "type": "http request",
        "z": "dfa5f5222d797092",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://resource_catalog:8080/strategy{{{query}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1910,
        "y": 2640,
        "wires": [
            [
                "92c511186dcc24e7"
            ]
        ]
    },
    {
        "id": "37d3923b85da621a",
        "type": "debug",
        "z": "dfa5f5222d797092",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2750,
        "y": 2640,
        "wires": []
    },
    {
        "id": "4bf2b490fb12f561",
        "type": "json",
        "z": "dfa5f5222d797092",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 2350,
        "y": 2640,
        "wires": [
            [
                "b869dd885b282a44"
            ]
        ]
    },
    {
        "id": "b869dd885b282a44",
        "type": "ui_template",
        "z": "dfa5f5222d797092",
        "group": "65fe65488352d21f",
        "name": "",
        "order": 2,
        "width": "5",
        "height": "3",
        "format": "<h3>ENVIRONMENT STRATEGY: </h3>\n\n<p>TEMPERATURE: <span ng-bind=\"msg['payload']['strat']['temperature']\"></span></p>\n<p>HUMIDITY: <span ng-bind=\"msg['payload']['strat']['humidity']\"></span></p>\n<p>ACTIVE: <span ng-bind=\"msg['payload']['active']\"></span></p>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 2540,
        "y": 2640,
        "wires": [
            [
                "37d3923b85da621a"
            ]
        ]
    },
    {
        "id": "719db4ac8743666c",
        "type": "python3-function",
        "z": "dfa5f5222d797092",
        "name": "",
        "func": "query = \"?id=\"+str(msg['payload']['id'])+\"&greenHouseID=\"+ str(msg['payload']['greenHouseID'])+ \"&strategyType=weather\"\n\nmsg = {'query': query}\n\nreturn msg",
        "outputs": 1,
        "x": 1690,
        "y": 2760,
        "wires": [
            [
                "40d84dd47cfe4009"
            ]
        ]
    },
    {
        "id": "40d84dd47cfe4009",
        "type": "http request",
        "z": "dfa5f5222d797092",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://resource_catalog:8080/strategy{{{query}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1910,
        "y": 2760,
        "wires": [
            [
                "8cdd6739e41e87c0"
            ]
        ]
    },
    {
        "id": "fc3b2f631588cc5b",
        "type": "debug",
        "z": "dfa5f5222d797092",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2750,
        "y": 2760,
        "wires": []
    },
    {
        "id": "1858276751a5c100",
        "type": "json",
        "z": "dfa5f5222d797092",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 2370,
        "y": 2760,
        "wires": [
            [
                "783ff34db09326c0"
            ]
        ]
    },
    {
        "id": "783ff34db09326c0",
        "type": "ui_template",
        "z": "dfa5f5222d797092",
        "group": "ce41a2620db9ea6d",
        "name": "",
        "order": 2,
        "width": "5",
        "height": "3",
        "format": "<h3>WEATHER STRATEGY: </h3>\n\n<p>TEMPERATURE: <span ng-bind=\"msg['payload']['strat']['temperature']\"></span></p>\n<p>HUMIDITY: <span ng-bind=\"msg['payload']['strat']['humidity']\"></span></p>\n<p>ACTIVE: <span ng-bind=\"msg['payload']['active']\"></span></p>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 2540,
        "y": 2760,
        "wires": [
            [
                "fc3b2f631588cc5b"
            ]
        ]
    },
    {
        "id": "6b76565c29140883",
        "type": "comment",
        "z": "dfa5f5222d797092",
        "name": "",
        "info": "TODO\nControllare come mai se metto un orario nella casella time del form, l'output è un'ora indietro (fusorario inglese). \n- Probabilmente è perchè nodered gira su una raspberry che potrebbe essere settata come fusorario inglese.\n\nCapire come gestire questa cosa",
        "x": 2700,
        "y": 3680,
        "wires": []
    },
    {
        "id": "48fa6b2ed3446a6e",
        "type": "debug",
        "z": "dfa5f5222d797092",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3210,
        "y": 3380,
        "wires": []
    },
    {
        "id": "c1dfa8bd50f7cfa3",
        "type": "ui_form",
        "z": "dfa5f5222d797092",
        "name": "",
        "label": "",
        "group": "64d6c8b6.5961f8",
        "order": 12,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "User ID",
                "value": "id",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Greenhouse ID",
                "value": "greenHouseID",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Strategy ID",
                "value": "strategyID",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "id": "",
            "greenHouseID": "",
            "strategyID": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "topicType": "str",
        "splitLayout": false,
        "className": "",
        "x": 2590,
        "y": 3380,
        "wires": [
            [
                "e28019bf43fba307"
            ]
        ]
    },
    {
        "id": "58157c3c0950bbea",
        "type": "http request",
        "z": "dfa5f5222d797092",
        "name": "",
        "method": "DELETE",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://resource_catalog:8080/strategy{{{query}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 3010,
        "y": 3380,
        "wires": [
            [
                "48fa6b2ed3446a6e"
            ]
        ]
    },
    {
        "id": "e28019bf43fba307",
        "type": "python3-function",
        "z": "dfa5f5222d797092",
        "name": "",
        "func": "\"\"\"\nquery = \"?id=\"+str(msg['payload']['id'])+\"&greenHouseID=\"+ str(msg['payload']['greenHouseID'])+ \"&strategyType=irrigation&strategyID=\"+str(msg['payload']['strategyID'])\n\n#query = \"?id=\"+msg['payload']['id']+\"&greenHouseID=\"+ msg['payload']['greenHouseID']+ \"&strategyType=irrigation&strategyID\"+str(msg['payload']['strategyID'])\"\n\nmsg = {'query': query}\n\nreturn msg\n\n\"\"\"\nquery = \"?id=\"+str(msg['payload']['id'])+\"&greenHouseID=\"+ str(msg['payload']['greenHouseID'])+ \"&strategyType=irrigation&strategyID=\"+str(msg['payload']['strategyID'])\n\nmsg = {'query': query}\n\nreturn msg",
        "outputs": 1,
        "x": 2790,
        "y": 3380,
        "wires": [
            [
                "58157c3c0950bbea"
            ]
        ]
    },
    {
        "id": "14686b5344bd6d51",
        "type": "python3-function",
        "z": "dfa5f5222d797092",
        "name": "",
        "func": "import json\n\nif len(msg['payload']['strat']) > 0:\n        \n    id = []\n    for i in range(len(msg['payload']['strat'])):\n          \n       id.append(msg['payload']['strat'][i]['id'])\n    \n    msg['payload'] = id\n\nelse:\n    msg = {'payload' : []}\n\nreturn msg",
        "outputs": 1,
        "x": 1850,
        "y": 3160,
        "wires": [
            [
                "b78455e10a5acab7"
            ]
        ]
    },
    {
        "id": "b78455e10a5acab7",
        "type": "change",
        "z": "dfa5f5222d797092",
        "name": "Set Dropdown Options",
        "rules": [
            {
                "t": "set",
                "p": "options",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2080,
        "y": 3160,
        "wires": [
            [
                "63b951f54d810379"
            ]
        ]
    },
    {
        "id": "63b951f54d810379",
        "type": "ui_dropdown",
        "z": "dfa5f5222d797092",
        "name": "Dropdown",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "64d6c8b6.5961f8",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 2290,
        "y": 3160,
        "wires": [
            [
                "4ee7f55407af597a"
            ]
        ]
    },
    {
        "id": "4ee7f55407af597a",
        "type": "python3-function",
        "z": "dfa5f5222d797092",
        "name": "",
        "func": "msg['payload'] = {\n    \"strategyID\": msg['payload']\n}\n\nreturn msg",
        "outputs": 1,
        "x": 2570,
        "y": 3160,
        "wires": [
            [
                "c1dfa8bd50f7cfa3"
            ]
        ]
    },
    {
        "id": "266b11699d470f70",
        "type": "ui_template",
        "z": "dfa5f5222d797092",
        "group": "64d6c8b6.5961f8",
        "name": "",
        "order": 14,
        "width": 0,
        "height": 0,
        "format": "<h3>Select a strategy to enable or disable</h3>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 2320,
        "y": 4400,
        "wires": [
            [
                "1d4da6432fd7cfc3"
            ]
        ]
    },
    {
        "id": "d31ab3b43e3cab38",
        "type": "ui_template",
        "z": "dfa5f5222d797092",
        "group": "65fe65488352d21f",
        "name": "",
        "order": 8,
        "width": 0,
        "height": 0,
        "format": "<h3>Enable or disable the environment strategy</h3>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 2320,
        "y": 4520,
        "wires": [
            [
                "11faf41783dea40f"
            ]
        ]
    },
    {
        "id": "8d6183a5d7443afa",
        "type": "ui_template",
        "z": "dfa5f5222d797092",
        "group": "ce41a2620db9ea6d",
        "name": "",
        "order": 8,
        "width": 0,
        "height": 0,
        "format": "<h3>Enable or disable the weather strategy</h3>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 2320,
        "y": 4460,
        "wires": [
            [
                "2ec1877cd11c1824"
            ]
        ]
    },
    {
        "id": "1d4da6432fd7cfc3",
        "type": "ui_form",
        "z": "dfa5f5222d797092",
        "name": "",
        "label": "",
        "group": "64d6c8b6.5961f8",
        "order": 17,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "User ID",
                "value": "id",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Greenhouse ID",
                "value": "greenHouseID",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Strategy ID",
                "value": "strategyID",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Active",
                "value": "active",
                "type": "switch",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "id": "",
            "greenHouseID": "",
            "strategyID": "",
            "active": false
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "topicType": "str",
        "splitLayout": false,
        "className": "",
        "x": 2490,
        "y": 4400,
        "wires": [
            [
                "a031e1764986b5df"
            ]
        ]
    },
    {
        "id": "11faf41783dea40f",
        "type": "ui_form",
        "z": "dfa5f5222d797092",
        "name": "",
        "label": "",
        "group": "65fe65488352d21f",
        "order": 10,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "User ID",
                "value": "id",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Greenhouse ID",
                "value": "greenHouseID",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Active",
                "value": "active",
                "type": "switch",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "id": "",
            "greenHouseID": "",
            "active": false
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "topicType": "str",
        "splitLayout": false,
        "className": "",
        "x": 2490,
        "y": 4520,
        "wires": [
            [
                "8bdb253e17f4f591"
            ]
        ]
    },
    {
        "id": "2ec1877cd11c1824",
        "type": "ui_form",
        "z": "dfa5f5222d797092",
        "name": "",
        "label": "",
        "group": "ce41a2620db9ea6d",
        "order": 10,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "User ID",
                "value": "id",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Greenhouse ID",
                "value": "greenHouseID",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Active",
                "value": "active",
                "type": "switch",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "id": "",
            "greenHouseID": "",
            "active": false
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "topicType": "str",
        "splitLayout": false,
        "className": "",
        "x": 2490,
        "y": 4460,
        "wires": [
            [
                "2317af50866dcd41"
            ]
        ]
    },
    {
        "id": "a031e1764986b5df",
        "type": "python3-function",
        "z": "dfa5f5222d797092",
        "name": "",
        "func": "\nif msg['payload']['active']:\n    active = True\nelse:\n    active = False\n\nquery = \"?id=\"+str(msg['payload']['id'])+\"&greenHouseID=\"+ str(msg['payload']['greenHouseID'])+ \"&strategyType=irrigation&active=\"+ str(active)\n\ndata = {\n    'strategyID' : msg['payload']['strategyID'],\n    'activeStrat' : active\n}\n\nmsg = {'payload':data, 'query':query}\n\nreturn msg",
        "outputs": 1,
        "x": 2710,
        "y": 4400,
        "wires": [
            [
                "8bce45bc0d63bf82"
            ]
        ]
    },
    {
        "id": "8bdb253e17f4f591",
        "type": "python3-function",
        "z": "dfa5f5222d797092",
        "name": "",
        "func": "\nif msg['payload']['active']:\n    active = True\nelse:\n    active = False\n\nquery = \"?id=\"+str(msg['payload']['id'])+\"&greenHouseID=\"+ str(msg['payload']['greenHouseID'])+ \"&strategyType=environment&active=\"+ str(active)\n\ndata = {\n    \n    'activeStrat' : active\n}\n\nmsg = {'payload':data, 'query':query}\n\nreturn msg",
        "outputs": 1,
        "x": 2710,
        "y": 4520,
        "wires": [
            [
                "3bfaea9870d75924"
            ]
        ]
    },
    {
        "id": "2317af50866dcd41",
        "type": "python3-function",
        "z": "dfa5f5222d797092",
        "name": "",
        "func": "if msg['payload']['active']:\n    active = True\nelse:\n    active = False\n\nquery = \"?id=\"+str(msg['payload']['id'])+\"&greenHouseID=\"+ str(msg['payload']['greenHouseID'])+ \"&strategyType=weather&active=\"+ str(active)\n\ndata = {\n    \n    'activeStrat' : active\n}\nmsg = {'payload':data, 'query':query}\n\nreturn msg",
        "outputs": 1,
        "x": 2710,
        "y": 4460,
        "wires": [
            [
                "8c8e71695711a1bf"
            ]
        ]
    },
    {
        "id": "2b8d0348d42bede6",
        "type": "debug",
        "z": "dfa5f5222d797092",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3130,
        "y": 4400,
        "wires": []
    },
    {
        "id": "8bce45bc0d63bf82",
        "type": "http request",
        "z": "dfa5f5222d797092",
        "name": "",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://resource_catalog:8080/strategy{{{query}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 2930,
        "y": 4400,
        "wires": [
            [
                "2b8d0348d42bede6"
            ]
        ]
    },
    {
        "id": "6c2bdd157134657b",
        "type": "debug",
        "z": "dfa5f5222d797092",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3130,
        "y": 4520,
        "wires": []
    },
    {
        "id": "3bfaea9870d75924",
        "type": "http request",
        "z": "dfa5f5222d797092",
        "name": "",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://resource_catalog:8080/strategy{{{query}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 2930,
        "y": 4520,
        "wires": [
            [
                "6c2bdd157134657b"
            ]
        ]
    },
    {
        "id": "d3870ad51773a588",
        "type": "debug",
        "z": "dfa5f5222d797092",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3130,
        "y": 4460,
        "wires": []
    },
    {
        "id": "8c8e71695711a1bf",
        "type": "http request",
        "z": "dfa5f5222d797092",
        "name": "",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://resource_catalog:8080/strategy{{{query}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 2930,
        "y": 4460,
        "wires": [
            [
                "d3870ad51773a588"
            ]
        ]
    },
    {
        "id": "8a1f69c50937b435",
        "type": "ui_template",
        "z": "dfa5f5222d797092",
        "group": "64d6c8b6.5961f8",
        "name": "",
        "order": 4,
        "width": 0,
        "height": 0,
        "format": "<h3>Create a new irrigation strategy</h3>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 2340,
        "y": 3720,
        "wires": [
            [
                "a3ed64a0816d64d3"
            ]
        ]
    },
    {
        "id": "6ee89501bce28445",
        "type": "ui_template",
        "z": "dfa5f5222d797092",
        "group": "65fe65488352d21f",
        "name": "",
        "order": 4,
        "width": 0,
        "height": 0,
        "format": "<h3>Create a new environment strategy</h3>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 2340,
        "y": 3840,
        "wires": [
            [
                "5aa0128a372128d4"
            ]
        ]
    },
    {
        "id": "2c2447bf72d9531e",
        "type": "ui_template",
        "z": "dfa5f5222d797092",
        "group": "ce41a2620db9ea6d",
        "name": "",
        "order": 4,
        "width": 0,
        "height": 0,
        "format": "<h3>Create a new weather strategy</h3>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 2340,
        "y": 3960,
        "wires": [
            [
                "9f420dd0635d5620"
            ]
        ]
    },
    {
        "id": "a861ab127e861486",
        "type": "ui_template",
        "z": "dfa5f5222d797092",
        "group": "64d6c8b6.5961f8",
        "name": "",
        "order": 8,
        "width": 0,
        "height": 0,
        "format": "<h3>Select a strategy to delete</h3>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 2340,
        "y": 3380,
        "wires": [
            [
                "c1dfa8bd50f7cfa3"
            ]
        ]
    },
    {
        "id": "cbc8fee51389dd33",
        "type": "python3-function",
        "z": "dfa5f5222d797092",
        "name": "",
        "func": "\nif msg['statusCode'] == 400:\n    data = {\n        'userName' : \"\",\n        'name' : \"\",\n        'surname' : \"\",\n        'email_addresses' : \"\",\n        'error' : 'USER NOT FOUND'\n    }\n    msg = {'payload' : data}\n    return msg\nelse:\n    return msg",
        "outputs": 1,
        "x": 1170,
        "y": 120,
        "wires": [
            [
                "3b138dd68bffa83b"
            ]
        ]
    },
    {
        "id": "690cc002ee0499aa",
        "type": "ui_template",
        "z": "dfa5f5222d797092",
        "group": "54a9d42f1566907a",
        "name": "",
        "order": 7,
        "width": 0,
        "height": 0,
        "format": "<h3>The greenhouse attributes are: </h3>\n<br>\n<p>GREENHOUSE NAME: <span ng-bind=\"msg['payload']['greenHouseName']\"></span></p>\n<p>CITY: <span ng-bind=\"msg['payload']['city']\"></span></p>\n\n\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1580,
        "y": 380,
        "wires": [
            [
                "112b8f49e109c0cd"
            ]
        ]
    },
    {
        "id": "a9b4d06e56271b23",
        "type": "json",
        "z": "dfa5f5222d797092",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1570,
        "y": 20,
        "wires": [
            [
                "7ce9d330cf19a9ec"
            ]
        ]
    },
    {
        "id": "496999e9d36d4e9d",
        "type": "python3-function",
        "z": "dfa5f5222d797092",
        "name": "",
        "func": "\nif msg['statusCode'] == 400:\n    data = {\n        'greenHouseName' : \"\",\n        'city' : \"\",\n        'error' : 'GREENHOUSE NOT FOUND'\n    }\n    msg = {'payload' : data}\n    return msg\nelse:\n    return msg",
        "outputs": 1,
        "x": 1190,
        "y": 380,
        "wires": [
            [
                "44a799ba54fc21aa"
            ]
        ]
    },
    {
        "id": "56c3f5bc2bc5cecb",
        "type": "json",
        "z": "dfa5f5222d797092",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1570,
        "y": 280,
        "wires": [
            [
                "2455a89baf539add"
            ]
        ]
    },
    {
        "id": "7ce9d330cf19a9ec",
        "type": "ui_template",
        "z": "dfa5f5222d797092",
        "group": "54a9d42f1566907a",
        "name": "",
        "order": 4,
        "width": 0,
        "height": 0,
        "format": "<h2><span ng-bind=\"msg['payload']['error']\"></span></h2>\n\n\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1740,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "2455a89baf539add",
        "type": "ui_template",
        "z": "dfa5f5222d797092",
        "group": "54a9d42f1566907a",
        "name": "",
        "order": 6,
        "width": 0,
        "height": 0,
        "format": "<h2><span ng-bind=\"msg['payload']['error']\"></span></h2>\n\n\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1740,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "525054fe7408026a",
        "type": "python3-function",
        "z": "dfa5f5222d797092",
        "name": "",
        "func": "\nif msg['statusCode'] == 400:\n    data = {\n        'error' : 'USER ALREADY EXISTS'\n    }\n    msg = {'payload' : data}\n    return msg\nelse:\n    return msg",
        "outputs": 1,
        "x": 1490,
        "y": 1300,
        "wires": [
            [
                "acf07cc5b57363b2"
            ]
        ]
    },
    {
        "id": "acf07cc5b57363b2",
        "type": "ui_template",
        "z": "dfa5f5222d797092",
        "group": "703824db.9d74a4",
        "name": "",
        "order": 14,
        "width": 0,
        "height": 0,
        "format": "<h2><span ng-bind=\"msg['payload']['error']\"></span></h2>\n\n\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1720,
        "y": 1300,
        "wires": [
            [
                "955bbcc0b5e00449"
            ]
        ]
    },
    {
        "id": "955bbcc0b5e00449",
        "type": "debug",
        "z": "dfa5f5222d797092",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1930,
        "y": 1300,
        "wires": []
    },
    {
        "id": "39b467bc9846b265",
        "type": "debug",
        "z": "dfa5f5222d797092",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1450,
        "y": 1700,
        "wires": []
    },
    {
        "id": "19938b85b3821efe",
        "type": "python3-function",
        "z": "dfa5f5222d797092",
        "name": "",
        "func": "if msg['statusCode'] == 400:\n    data = {\n    'userName' : '',\n    'password' : '',\n    'id' : '',\n    'name' : '',\n    'surname' : '',\n    'email_addresses' : '',\n    'country' : '',\n    'error' : 'USER DOES NOT EXISTS'\n    }\n    msg = {'payload' : data}\n    return msg\n    \nelse:\n    \n    return msg",
        "outputs": 1,
        "x": 1450,
        "y": 1420,
        "wires": [
            [
                "f64d183a041e372c"
            ]
        ]
    },
    {
        "id": "d4923e9bf658bada",
        "type": "json",
        "z": "dfa5f5222d797092",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1850,
        "y": 1420,
        "wires": [
            [
                "303508492d465b23",
                "12ad55b148968a48"
            ]
        ]
    },
    {
        "id": "303508492d465b23",
        "type": "ui_template",
        "z": "dfa5f5222d797092",
        "group": "1ad3bf1a8d6e4b4e",
        "name": "",
        "order": 5,
        "width": 0,
        "height": 0,
        "format": "<h2><span ng-bind=\"msg['payload']['error']\"></span></h2>\n\n\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 2020,
        "y": 1420,
        "wires": [
            []
        ]
    },
    {
        "id": "38fea345ee9d6689",
        "type": "python3-function",
        "z": "dfa5f5222d797092",
        "name": "",
        "func": "if msg['statusCode'] == 400:\n    data = {\n        'error' : 'GREENHOUSE ALREADY EXISTS'\n    }\n    msg = {'payload' : data}\n    return msg\n\nelse:\n    \n    return msg",
        "outputs": 1,
        "x": 1490,
        "y": 1860,
        "wires": [
            [
                "c95f74b1b678bb24"
            ]
        ]
    },
    {
        "id": "c95f74b1b678bb24",
        "type": "ui_template",
        "z": "dfa5f5222d797092",
        "group": "1e1cb426.2b813c",
        "name": "",
        "order": 6,
        "width": 0,
        "height": 0,
        "format": "<h2><span ng-bind=\"msg['payload']['error']\"></span></h2>\n\n\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1740,
        "y": 1860,
        "wires": [
            [
                "b8d19bec60564130"
            ]
        ]
    },
    {
        "id": "6771520151f4960d",
        "type": "inject",
        "z": "dfa5f5222d797092",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 2080,
        "wires": [
            [
                "60a897d576a4c0ed",
                "8da82727692fc3b1",
                "70804627e9613264"
            ]
        ]
    },
    {
        "id": "858780624f4b25d1",
        "type": "python3-function",
        "z": "dfa5f5222d797092",
        "name": "",
        "func": "if msg['statusCode'] == 400:\n    data = {\n    \"id\": '',\n    \"greenHouseID\": '',\n    \"greenHouseName\": '',\n    'error' : 'USER OR GREENHOUSE DOES NOT EXISTS'\n    }\n    msg = {'payload' : data}\n    return msg\nelse:\n    \n    return msg",
        "outputs": 1,
        "x": 1410,
        "y": 2060,
        "wires": [
            [
                "01ff11bb1e09c1b9"
            ]
        ]
    },
    {
        "id": "dcf7fbe89f9be32d",
        "type": "json",
        "z": "dfa5f5222d797092",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1770,
        "y": 2060,
        "wires": [
            [
                "56c6f8bcad12b9b2",
                "f929205cee509714"
            ]
        ]
    },
    {
        "id": "56c6f8bcad12b9b2",
        "type": "ui_template",
        "z": "dfa5f5222d797092",
        "group": "dcebba6522a7ec86",
        "name": "",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<h2><span ng-bind=\"msg['payload']['error']\"></span></h2>\n\n\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1940,
        "y": 2060,
        "wires": [
            []
        ]
    },
    {
        "id": "56cb30ae4fef2580",
        "type": "debug",
        "z": "dfa5f5222d797092",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1810,
        "y": 2360,
        "wires": []
    },
    {
        "id": "50517df343ea60f0",
        "type": "python3-function",
        "z": "dfa5f5222d797092",
        "name": "",
        "func": "if msg['statusCode'] == 400:\n    data = {\n    'error' : 'USER OR GREENHOUSE DOES NOT EXISTS'\n    }\n    msg = {'payload' : data}\n    return msg\nelse:\n    data = {\n    'error' : 'GREENHOUSE CORRECTLY DELETED'\n    }\n    msg = {'payload' : data}\n    return msg",
        "outputs": 1,
        "x": 1410,
        "y": 2360,
        "wires": [
            [
                "35d9b699dffc333d"
            ]
        ]
    },
    {
        "id": "35d9b699dffc333d",
        "type": "ui_template",
        "z": "dfa5f5222d797092",
        "group": "3ca67b85ec7cd5f7",
        "name": "",
        "order": 4,
        "width": 0,
        "height": 0,
        "format": "<h2><span ng-bind=\"msg['payload']['error']\"></span></h2>\n\n\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1620,
        "y": 2360,
        "wires": [
            [
                "56cb30ae4fef2580"
            ]
        ]
    },
    {
        "id": "5b0da82180378895",
        "type": "python3-function",
        "z": "dfa5f5222d797092",
        "name": "",
        "func": "import json\n\nif len(msg['payload']['strat']) > 0:\n        \n    id = []\n    for i in range(len(msg['payload']['strat'])):\n          \n       id.append(msg['payload']['strat'][i]['id'])\n    \n    msg['payload'] = id\n\nelse:\n    msg = {'payload' : []}\n\nreturn msg",
        "outputs": 1,
        "x": 2550,
        "y": 4080,
        "wires": [
            [
                "96279f2873584f89"
            ]
        ]
    },
    {
        "id": "96279f2873584f89",
        "type": "change",
        "z": "dfa5f5222d797092",
        "name": "Set Dropdown Options",
        "rules": [
            {
                "t": "set",
                "p": "options",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2800,
        "y": 4080,
        "wires": [
            [
                "2863874536da3758"
            ]
        ]
    },
    {
        "id": "2863874536da3758",
        "type": "ui_dropdown",
        "z": "dfa5f5222d797092",
        "name": "Dropdown",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "64d6c8b6.5961f8",
        "order": 15,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 3030,
        "y": 4080,
        "wires": [
            [
                "2840d769c9886198"
            ]
        ]
    },
    {
        "id": "2840d769c9886198",
        "type": "python3-function",
        "z": "dfa5f5222d797092",
        "name": "",
        "func": "msg['payload'] = {\n    \"strategyID\": msg['payload']\n}\n\nreturn msg",
        "outputs": 1,
        "x": 2350,
        "y": 4200,
        "wires": [
            [
                "266b11699d470f70"
            ]
        ]
    },
    {
        "id": "7dcd4cacf1185222",
        "type": "python3-function",
        "z": "dfa5f5222d797092",
        "name": "",
        "func": "query = \"?id=\"+str(msg['payload']['id'])+\"&greenHouseID=\"+ str(msg['payload']['greenHouseID'])\n\nmsg = {'query' : query}\n\nreturn msg",
        "outputs": 1,
        "x": 1330,
        "y": 3900,
        "wires": [
            [
                "29b9885eb3cd766b"
            ]
        ]
    },
    {
        "id": "29b9885eb3cd766b",
        "type": "http request",
        "z": "dfa5f5222d797092",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://resource_catalog:8080/greenhouse{{{query}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1550,
        "y": 3900,
        "wires": [
            [
                "b4ca329677779c8f"
            ]
        ]
    },
    {
        "id": "b4ca329677779c8f",
        "type": "python3-function",
        "z": "dfa5f5222d797092",
        "name": "",
        "func": "if msg['statusCode'] == 400:\n\n    data = {\n        'id' : '',\n        'greenHouseID' : '',\n        'StrategyID' : '',\n        'error' : 'USER OR GREENHOUSE DOES NOT EXISTS'\n    }\n    msg = {'payload' : data}\n    return msg\nelse:\n    return msg\n",
        "outputs": 1,
        "x": 1770,
        "y": 3900,
        "wires": [
            [
                "ce7604f3d15b71ad",
                "a861ab127e861486",
                "8a1f69c50937b435",
                "6ee89501bce28445",
                "2c2447bf72d9531e",
                "266b11699d470f70",
                "8d6183a5d7443afa",
                "d31ab3b43e3cab38",
                "6721c23a5f9fd596",
                "bcc95baad250f80d"
            ]
        ]
    },
    {
        "id": "ce7604f3d15b71ad",
        "type": "ui_template",
        "z": "dfa5f5222d797092",
        "group": "043782d90857d581",
        "name": "",
        "order": 4,
        "width": 0,
        "height": 0,
        "format": "<h2><span ng-bind=\"msg['payload']['error']\"></span></h2>\n\n\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 2340,
        "y": 3260,
        "wires": [
            []
        ]
    },
    {
        "id": "92c511186dcc24e7",
        "type": "python3-function",
        "z": "dfa5f5222d797092",
        "name": "",
        "func": "if msg['statusCode'] == 400:\n\n    data = {\n        'strat' : [{\n            'temperature' : '',\n            'humidity' : ''\n            }],\n       \n        'error' : 'USER OR GREENHOUSE DOES NOT EXISTS'\n    }\n    msg = {'payload' : data}\n    return msg\nelse:\n    return msg\n",
        "outputs": 1,
        "x": 2130,
        "y": 2640,
        "wires": [
            [
                "4bf2b490fb12f561"
            ]
        ]
    },
    {
        "id": "8cdd6739e41e87c0",
        "type": "python3-function",
        "z": "dfa5f5222d797092",
        "name": "",
        "func": "if msg['statusCode'] == 400:\n\n    data = {\n        'strat' : [{\n            'temperature' : '',\n            'humidity' : ''\n            }],\n       \n        'error' : 'USER OR GREENHOUSE DOES NOT EXISTS'\n    }\n    msg = {'payload' : data}\n    return msg\nelse:\n    return msg\n",
        "outputs": 1,
        "x": 2130,
        "y": 2760,
        "wires": [
            [
                "1858276751a5c100"
            ]
        ]
    },
    {
        "id": "eda3c14331870df8",
        "type": "python3-function",
        "z": "dfa5f5222d797092",
        "name": "",
        "func": "data = {\n    'strat' : [],\n   \n    'error' : 'USER OR GREENHOUSE DOES NOT EXISTS'\n}\nmsg = {'payload' : data}\nreturn msg\n",
        "outputs": 1,
        "x": 1830,
        "y": 3080,
        "wires": [
            [
                "14686b5344bd6d51",
                "a2c12a366ae1b0ef"
            ]
        ]
    },
    {
        "id": "b6db71baf84ac530",
        "type": "switch",
        "z": "dfa5f5222d797092",
        "name": "",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "400",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 2050,
        "y": 2960,
        "wires": [
            [
                "eda3c14331870df8",
                "6d5ea4ed49b4f835"
            ],
            [
                "3a2aa384b05c8140"
            ]
        ]
    },
    {
        "id": "6d5ea4ed49b4f835",
        "type": "python3-function",
        "z": "dfa5f5222d797092",
        "name": "",
        "func": "data = {\n    'strat' : [],\n   \n    'error' : 'USER OR GREENHOUSE DOES NOT EXISTS'\n}\nmsg = {'payload' : data}\nreturn msg\n",
        "outputs": 1,
        "x": 2310,
        "y": 4080,
        "wires": [
            [
                "5b0da82180378895"
            ]
        ]
    },
    {
        "id": "a2c12a366ae1b0ef",
        "type": "ui_template",
        "z": "dfa5f5222d797092",
        "group": "64d6c8b6.5961f8",
        "name": "",
        "order": 2,
        "width": "6",
        "height": "4",
        "format": "<h3>IRRIGATION STRATEGIES: </h3>\n\n<table>\n  <tr>\n    <th>id</th>\n    <th>time</th>\n    <th>water quantity</th>\n    <th>active</th>\n  </tr>\n  <tr ng-repeat=\"record in msg.payload.strat\">\n    <td>{{ record.id }}</td>\n    <td>{{ record.time }}</td>\n    <td>{{ record.water_quantity }}</td>\n    <td>{{ record.active }}</td>\n  </tr>\n</table>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 2800,
        "y": 3060,
        "wires": [
            [
                "567f5d34309b4af8"
            ]
        ]
    },
    {
        "id": "2684db334bb85e53",
        "type": "mqtt in",
        "z": "dfa5f5222d797092",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "json",
        "broker": "a6d151784d60722d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 990,
        "y": 1100,
        "wires": [
            [
                "d876efb2a9f19e4c"
            ]
        ]
    },
    {
        "id": "8608905770537a7a",
        "type": "python3-function",
        "z": "dfa5f5222d797092",
        "name": "",
        "func": "msg['action'] = \"subscribe\"\n# da aggiungere alla fine il sensorType\n#msg['topic']= str(msg['payload']['id'])+\"/\"+str(msg['payload']['greenHouseID'])+\"/environment/\"\n\nreturn msg",
        "outputs": 1,
        "x": 730,
        "y": 1100,
        "wires": [
            [
                "2684db334bb85e53"
            ]
        ]
    },
    {
        "id": "d876efb2a9f19e4c",
        "type": "json",
        "z": "dfa5f5222d797092",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1150,
        "y": 1100,
        "wires": [
            [
                "8462fce415534226"
            ]
        ]
    },
    {
        "id": "8462fce415534226",
        "type": "ui_template",
        "z": "dfa5f5222d797092",
        "group": "bb7721423ea2a939",
        "name": "",
        "order": 8,
        "width": 0,
        "height": 0,
        "format": "<p><strong>Window:</strong> <span ng-bind=\"msg['payload']\"></span></p>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1500,
        "y": 1100,
        "wires": [
            [
                "4940cebc65e1232a"
            ]
        ]
    },
    {
        "id": "4940cebc65e1232a",
        "type": "debug",
        "z": "dfa5f5222d797092",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1690,
        "y": 1100,
        "wires": []
    },
    {
        "id": "653617a7d6164bf2",
        "type": "comment",
        "z": "dfa5f5222d797092",
        "name": "",
        "info": "Trasformare il valore in On/Off",
        "x": 1320,
        "y": 1080,
        "wires": []
    },
    {
        "id": "588a6af3636bd2f0",
        "type": "inject",
        "z": "dfa5f5222d797092",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 3020,
        "y": 2160,
        "wires": [
            [
                "056172eab1fc7ea8"
            ]
        ]
    },
    {
        "id": "3ab7567d245db9ce",
        "type": "debug",
        "z": "dfa5f5222d797092",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 4950,
        "y": 2040,
        "wires": []
    },
    {
        "id": "acf76c1f9c99fb40",
        "type": "http request",
        "z": "dfa5f5222d797092",
        "name": "Thingspeak",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 4410,
        "y": 2220,
        "wires": [
            [
                "a41aa4cb664c0971",
                "907dc787cc044d70",
                "57b4e9371a0f3d43"
            ]
        ]
    },
    {
        "id": "a41aa4cb664c0971",
        "type": "python3-function",
        "z": "dfa5f5222d797092",
        "name": "",
        "func": "import json\nimport time\n\noutput = [{\n\"series\": [\"Tem\"],\n\"data\": [[]],\n\"labels\": [\"Tem\"]\n}]\n\nfor feed in msg['payload']['feeds']:\n    \n    date_obj = time.strptime(feed['created_at'] , \"%Y-%m-%dT%H:%M:%SZ\")\n    \n    data_t = {\"x\": time.mktime(date_obj)*1000, \"y\": feed['field1']}\n    \n    output[0]['data'][0].append(data_t)\n   \n    \nmsg['payload'] = output\nreturn msg",
        "outputs": 1,
        "x": 4670,
        "y": 2080,
        "wires": [
            [
                "b68ad7b4f19ef12a",
                "3ab7567d245db9ce"
            ]
        ]
    },
    {
        "id": "b68ad7b4f19ef12a",
        "type": "ui_chart",
        "z": "dfa5f5222d797092",
        "name": "",
        "group": "c54cc5d01a793531",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "100",
        "removeOlderPoints": "10",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 4950,
        "y": 2120,
        "wires": [
            []
        ]
    },
    {
        "id": "6c72a6642b0390fa",
        "type": "python3-function",
        "z": "dfa5f5222d797092",
        "name": "",
        "func": "#url = msg['payload']['']\n\nmsg = {'url' : 'https://thingspeak.com/channels/1714663/feed.json'}\n\nreturn msg",
        "outputs": 1,
        "x": 3810,
        "y": 2160,
        "wires": [
            [
                "acf76c1f9c99fb40"
            ]
        ]
    },
    {
        "id": "b21b6b14e1012145",
        "type": "debug",
        "z": "dfa5f5222d797092",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 4950,
        "y": 2180,
        "wires": []
    },
    {
        "id": "907dc787cc044d70",
        "type": "python3-function",
        "z": "dfa5f5222d797092",
        "name": "",
        "func": "import json\nimport time\n\n\noutput = [{\n\"series\": [\"Hum\"],\n\"data\": [[]],\n\"labels\": [\"Hum\"]\n}]\n\nfor feed in msg['payload']['feeds']:\n    \n    date_obj = time.strptime(feed['created_at'] , \"%Y-%m-%dT%H:%M:%SZ\")\n    \n    data_h = {\"x\": time.mktime(date_obj)*1000, \"y\": feed['field2']}\n    \n    output[0]['data'][0].append(data_h)\n    \nmsg['payload'] = output\nreturn msg",
        "outputs": 1,
        "x": 4670,
        "y": 2220,
        "wires": [
            [
                "b21b6b14e1012145",
                "8de0f6912b124cdc"
            ]
        ]
    },
    {
        "id": "8de0f6912b124cdc",
        "type": "ui_chart",
        "z": "dfa5f5222d797092",
        "name": "",
        "group": "e42281d9419547e2",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "10",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 4950,
        "y": 2260,
        "wires": [
            []
        ]
    },
    {
        "id": "056172eab1fc7ea8",
        "type": "ui_form",
        "z": "dfa5f5222d797092",
        "name": "",
        "label": "",
        "group": "5265b699c4c5e667",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "User ID",
                "value": "id",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Greenhouse ID",
                "value": "greenHouseID",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "id": "",
            "greenHouseID": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "topicType": "str",
        "splitLayout": false,
        "className": "",
        "x": 3190,
        "y": 2160,
        "wires": [
            [
                "a0d24bd0fd6b64dd",
                "10e7d09a1212d8f0",
                "a2559b1c8a9ddb1c",
                "dbc70993a078a2e4"
            ]
        ]
    },
    {
        "id": "dbc70993a078a2e4",
        "type": "python3-function",
        "z": "dfa5f5222d797092",
        "name": "",
        "func": "query = \"?id=\"+msg['payload']['id']+\"&greenHouseID=\"+ msg['payload']['greenHouseID']\n\nmsg = {'query': query}\n\nreturn msg\n\n",
        "outputs": 1,
        "x": 3390,
        "y": 2160,
        "wires": [
            [
                "579d2b04db87eff2"
            ]
        ]
    },
    {
        "id": "579d2b04db87eff2",
        "type": "http request",
        "z": "dfa5f5222d797092",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://resource_catalog:8080/thingspeak{{{query}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 3610,
        "y": 2160,
        "wires": [
            [
                "6c72a6642b0390fa"
            ]
        ]
    },
    {
        "id": "9423417cf0b202eb",
        "type": "comment",
        "z": "dfa5f5222d797092",
        "name": "",
        "info": "Con il form prendo i valori della greenhouse e dello user; \nFaccio il get al catalog e ricevo il channel id o url\nFaccio il get con l'url di thingspeak, prendo i dati e li plotto\n",
        "x": 3640,
        "y": 2220,
        "wires": []
    },
    {
        "id": "5f01dd971b738fa8",
        "type": "debug",
        "z": "dfa5f5222d797092",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 4950,
        "y": 2340,
        "wires": []
    },
    {
        "id": "57b4e9371a0f3d43",
        "type": "python3-function",
        "z": "dfa5f5222d797092",
        "name": "",
        "func": "import json\nimport time\n\n\noutput = [{\n\"series\": [\"Window\"],\n\"data\": [[]],\n\"labels\": [\"Window\"]\n}]\n\nfor feed in msg['payload']['feeds']:\n    \n    date_obj = time.strptime(feed['created_at'] , \"%Y-%m-%dT%H:%M:%SZ\")\n    \n    data_w = {\"x\": time.mktime(date_obj)*1000, \"y\": feed['field3']}\n    \n    output[0]['data'][0].append(data_w)\n    \nmsg['payload'] = output\nreturn msg",
        "outputs": 1,
        "x": 4670,
        "y": 2380,
        "wires": [
            [
                "5f01dd971b738fa8",
                "b7ce0e02612a7da3"
            ]
        ]
    },
    {
        "id": "b7ce0e02612a7da3",
        "type": "ui_chart",
        "z": "dfa5f5222d797092",
        "name": "",
        "group": "0301ba55f59e74c0",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "10",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 4950,
        "y": 2420,
        "wires": [
            []
        ]
    },
    {
        "id": "7a68a5610671c945",
        "type": "mqtt in",
        "z": "dfa5f5222d797092",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "json",
        "broker": "a6d151784d60722d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 3730,
        "y": 2460,
        "wires": [
            [
                "11c32fc2e881783b"
            ]
        ]
    },
    {
        "id": "a0d24bd0fd6b64dd",
        "type": "python3-function",
        "z": "dfa5f5222d797092",
        "name": "",
        "func": "msg['action'] = \"subscribe\"\n# da aggiungere alla fine il sensorType\n#msg['topic']= str(msg['payload']['id'])+\"/\"+str(msg['payload']['greenHouseID'])+\"/environment/temperature\"\n\nmsg['topic'] = \"IoT_project/group29/greenhouse1/temperature\"\nreturn msg",
        "outputs": 1,
        "x": 3470,
        "y": 2460,
        "wires": [
            [
                "7a68a5610671c945"
            ]
        ]
    },
    {
        "id": "79bcffc3c3f4d807",
        "type": "ui_gauge",
        "z": "dfa5f5222d797092",
        "name": "",
        "group": "c54cc5d01a793531",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Temperature",
        "label": "°C",
        "format": "{{msg.payload}}",
        "min": "15",
        "max": "35",
        "colors": [
            "#005cb3",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 4090,
        "y": 2460,
        "wires": []
    },
    {
        "id": "3bb465c8e8852f0d",
        "type": "debug",
        "z": "dfa5f5222d797092",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 4090,
        "y": 2520,
        "wires": []
    },
    {
        "id": "11c32fc2e881783b",
        "type": "json",
        "z": "dfa5f5222d797092",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 3890,
        "y": 2460,
        "wires": [
            [
                "3bb465c8e8852f0d",
                "79bcffc3c3f4d807"
            ]
        ]
    },
    {
        "id": "4ed2b83c9116b64f",
        "type": "mqtt in",
        "z": "dfa5f5222d797092",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "json",
        "broker": "a6d151784d60722d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 3730,
        "y": 2280,
        "wires": [
            [
                "831f76a2d0e49b94"
            ]
        ]
    },
    {
        "id": "10e7d09a1212d8f0",
        "type": "python3-function",
        "z": "dfa5f5222d797092",
        "name": "",
        "func": "msg['action'] = \"subscribe\"\n# da aggiungere alla fine il sensorType\n#msg['topic']= str(msg['payload']['id'])+\"/\"+str(msg['payload']['greenHouseID'])+\"/environment/humidity\"\n\nmsg['topic'] = \"IoT_project/group29/greenhouse1/humidity\"\nreturn msg",
        "outputs": 1,
        "x": 3470,
        "y": 2280,
        "wires": [
            [
                "4ed2b83c9116b64f"
            ]
        ]
    },
    {
        "id": "4fcf25e3cbebd058",
        "type": "ui_gauge",
        "z": "dfa5f5222d797092",
        "name": "",
        "group": "e42281d9419547e2",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Humidity",
        "label": "%",
        "format": "{{msg.payload}}",
        "min": "30",
        "max": "80",
        "colors": [
            "#0044b3",
            "#26e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 4120,
        "y": 2280,
        "wires": []
    },
    {
        "id": "c38e815f1659c42b",
        "type": "debug",
        "z": "dfa5f5222d797092",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 4090,
        "y": 2340,
        "wires": []
    },
    {
        "id": "831f76a2d0e49b94",
        "type": "json",
        "z": "dfa5f5222d797092",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 3890,
        "y": 2280,
        "wires": [
            [
                "c38e815f1659c42b",
                "4fcf25e3cbebd058"
            ]
        ]
    },
    {
        "id": "01a975245126b531",
        "type": "mqtt in",
        "z": "dfa5f5222d797092",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "json",
        "broker": "a6d151784d60722d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 3730,
        "y": 2640,
        "wires": [
            [
                "48b45838f5331c1e"
            ]
        ]
    },
    {
        "id": "a2559b1c8a9ddb1c",
        "type": "python3-function",
        "z": "dfa5f5222d797092",
        "name": "",
        "func": "msg['action'] = \"subscribe\"\n# da capire il topic giusto\n#msg['topic']= str(msg['payload']['id'])+\"/\"+str(msg['payload']['greenHouseID'])+\"/environment/window\"\n\nreturn msg",
        "outputs": 1,
        "x": 3470,
        "y": 2640,
        "wires": [
            [
                "01a975245126b531"
            ]
        ]
    },
    {
        "id": "1a55a17a0d92eb15",
        "type": "debug",
        "z": "dfa5f5222d797092",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 4090,
        "y": 2700,
        "wires": []
    },
    {
        "id": "48b45838f5331c1e",
        "type": "json",
        "z": "dfa5f5222d797092",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 3890,
        "y": 2640,
        "wires": [
            [
                "1a55a17a0d92eb15",
                "6f7319217c09ba8a"
            ]
        ]
    },
    {
        "id": "921b77eeb1664749",
        "type": "ui_text",
        "z": "dfa5f5222d797092",
        "group": "0301ba55f59e74c0",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 4310,
        "y": 2640,
        "wires": []
    },
    {
        "id": "6f7319217c09ba8a",
        "type": "python3-function",
        "z": "dfa5f5222d797092",
        "name": "",
        "func": "\nreturn msg",
        "outputs": 1,
        "x": 4110,
        "y": 2640,
        "wires": [
            [
                "921b77eeb1664749"
            ]
        ]
    },
    {
        "id": "6721c23a5f9fd596",
        "type": "ui_template",
        "z": "dfa5f5222d797092",
        "group": "ce41a2620db9ea6d",
        "name": "",
        "order": 11,
        "width": 0,
        "height": 0,
        "format": "<h3>Delete the weather strategy</h3>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 2340,
        "y": 3460,
        "wires": [
            [
                "bcbdf0b69a31a01f"
            ]
        ]
    },
    {
        "id": "bcc95baad250f80d",
        "type": "ui_template",
        "z": "dfa5f5222d797092",
        "group": "65fe65488352d21f",
        "name": "",
        "order": 11,
        "width": 0,
        "height": 0,
        "format": "<h3>Delete the environment strategy</h3>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 2340,
        "y": 3540,
        "wires": [
            [
                "2f37f2b8f6cc3f4d"
            ]
        ]
    },
    {
        "id": "bcbdf0b69a31a01f",
        "type": "ui_form",
        "z": "dfa5f5222d797092",
        "name": "",
        "label": "",
        "group": "ce41a2620db9ea6d",
        "order": 12,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "User ID",
                "value": "id",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Greenhouse ID",
                "value": "greenHouseID",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "id": "",
            "greenHouseID": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "topicType": "str",
        "splitLayout": false,
        "className": "",
        "x": 2590,
        "y": 3460,
        "wires": [
            [
                "a8fff0722ce207c5"
            ]
        ]
    },
    {
        "id": "2f37f2b8f6cc3f4d",
        "type": "ui_form",
        "z": "dfa5f5222d797092",
        "name": "",
        "label": "",
        "group": "65fe65488352d21f",
        "order": 12,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "User ID",
                "value": "id",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Greenhouse ID",
                "value": "greenHouseID",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "id": "",
            "greenHouseID": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "topicType": "str",
        "splitLayout": false,
        "className": "",
        "x": 2590,
        "y": 3540,
        "wires": [
            [
                "689e165be2782e34"
            ]
        ]
    },
    {
        "id": "e2f82242fe81586c",
        "type": "debug",
        "z": "dfa5f5222d797092",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3250,
        "y": 3460,
        "wires": []
    },
    {
        "id": "f119385c0b31d4eb",
        "type": "http request",
        "z": "dfa5f5222d797092",
        "name": "",
        "method": "DELETE",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://resource_catalog:8080/strategy{{{query}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 3050,
        "y": 3460,
        "wires": [
            [
                "e2f82242fe81586c"
            ]
        ]
    },
    {
        "id": "a8fff0722ce207c5",
        "type": "python3-function",
        "z": "dfa5f5222d797092",
        "name": "",
        "func": "\"\"\"\nquery = \"?id=\"+str(msg['payload']['id'])+\"&greenHouseID=\"+ str(msg['payload']['greenHouseID'])+ \"&strategyType=irrigation&strategyID=\"+str(msg['payload']['strategyID'])\n\n#query = \"?id=\"+msg['payload']['id']+\"&greenHouseID=\"+ msg['payload']['greenHouseID']+ \"&strategyType=irrigation&strategyID\"+str(msg['payload']['strategyID'])\"\n\nmsg = {'query': query}\n\nreturn msg\n\n\"\"\"\nquery = \"?id=\"+str(msg['payload']['id'])+\"&greenHouseID=\"+ str(msg['payload']['greenHouseID'])+ \"&strategyType=weather\"\n\nmsg = {'query': query}\n\nreturn msg",
        "outputs": 1,
        "x": 2830,
        "y": 3460,
        "wires": [
            [
                "f119385c0b31d4eb"
            ]
        ]
    },
    {
        "id": "dcdd079e9abe3fed",
        "type": "debug",
        "z": "dfa5f5222d797092",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3250,
        "y": 3540,
        "wires": []
    },
    {
        "id": "f11586b9028c2148",
        "type": "http request",
        "z": "dfa5f5222d797092",
        "name": "",
        "method": "DELETE",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://resource_catalog:8080/strategy{{{query}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 3050,
        "y": 3540,
        "wires": [
            [
                "dcdd079e9abe3fed"
            ]
        ]
    },
    {
        "id": "689e165be2782e34",
        "type": "python3-function",
        "z": "dfa5f5222d797092",
        "name": "",
        "func": "\"\"\"\nquery = \"?id=\"+str(msg['payload']['id'])+\"&greenHouseID=\"+ str(msg['payload']['greenHouseID'])+ \"&strategyType=irrigation&strategyID=\"+str(msg['payload']['strategyID'])\n\n#query = \"?id=\"+msg['payload']['id']+\"&greenHouseID=\"+ msg['payload']['greenHouseID']+ \"&strategyType=irrigation&strategyID\"+str(msg['payload']['strategyID'])\"\n\nmsg = {'query': query}\n\nreturn msg\n\n\"\"\"\nquery = \"?id=\"+str(msg['payload']['id'])+\"&greenHouseID=\"+ str(msg['payload']['greenHouseID'])+ \"&strategyType=environment\"\n\nmsg = {'query': query}\n\nreturn msg",
        "outputs": 1,
        "x": 2830,
        "y": 3540,
        "wires": [
            [
                "f11586b9028c2148"
            ]
        ]
    },
    {
        "id": "0e274ee81497bf82",
        "type": "ui_group",
        "name": "Welcome1",
        "tab": "cc105ece16ae7e53",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "54a9d42f1566907a",
        "type": "ui_group",
        "name": "Informations",
        "tab": "cc105ece16ae7e53",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a6d151784d60722d",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "bb7721423ea2a939",
        "type": "ui_group",
        "name": "statistics",
        "tab": "cc105ece16ae7e53",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1e1cb426.2b813c",
        "type": "ui_group",
        "name": "Create new Greenhouse",
        "tab": "da91e2e4.019118",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "703824db.9d74a4",
        "type": "ui_group",
        "name": "Create new user",
        "tab": "f0ebfb9d4cfd055e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1ad3bf1a8d6e4b4e",
        "type": "ui_group",
        "name": "Update User",
        "tab": "f0ebfb9d4cfd055e",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dcebba6522a7ec86",
        "type": "ui_group",
        "name": "Update Greenhouse",
        "tab": "da91e2e4.019118",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "edded25c257e2620",
        "type": "ui_group",
        "name": "Delete User",
        "tab": "f0ebfb9d4cfd055e",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3ca67b85ec7cd5f7",
        "type": "ui_group",
        "name": "Delete Greenhouse",
        "tab": "da91e2e4.019118",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "043782d90857d581",
        "type": "ui_group",
        "name": "Initial",
        "tab": "e4f2304aa464fc7e",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "64d6c8b6.5961f8",
        "type": "ui_group",
        "name": "Irrigation",
        "tab": "e4f2304aa464fc7e",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "65fe65488352d21f",
        "type": "ui_group",
        "name": "Environment",
        "tab": "e4f2304aa464fc7e",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ce41a2620db9ea6d",
        "type": "ui_group",
        "name": "Weather",
        "tab": "e4f2304aa464fc7e",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c54cc5d01a793531",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "e7353509ebd1d05b",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e42281d9419547e2",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "e7353509ebd1d05b",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5265b699c4c5e667",
        "type": "ui_group",
        "name": "Default",
        "tab": "e7353509ebd1d05b",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0301ba55f59e74c0",
        "type": "ui_group",
        "name": "Window",
        "tab": "e7353509ebd1d05b",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cc105ece16ae7e53",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 20,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "da91e2e4.019118",
        "type": "ui_tab",
        "name": "GreenHouse Management",
        "icon": "dashboard",
        "order": 22,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f0ebfb9d4cfd055e",
        "type": "ui_tab",
        "name": "User Management",
        "icon": "dashboard",
        "order": 21,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e4f2304aa464fc7e",
        "type": "ui_tab",
        "name": "Strategy",
        "icon": "add_box",
        "order": 23,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e7353509ebd1d05b",
        "type": "ui_tab",
        "name": "Statistics",
        "icon": "dashboard",
        "order": 24,
        "disabled": false,
        "hidden": false
    }
]